<?xml version="1.0"?>
<Root>
  <QuickView>
    <Volume>200</Volume>
    <Muted>False</Muted>
  </QuickView>
  <FileView>
    <Filmstrip>
      <ThumbPos>1</ThumbPos>
      <ThumbStyle>6</ThumbStyle>
      <ThumbSize>120</ThumbSize>
    </Filmstrip>
    <CellSizes/>
    <Columns>
      <Default>0,0,180,0|1,1,96,0|2,2,120,0|3,3,120,0</Default>
      <MyComputer>0,0,180,0|1,1,120,0|2,2,96,0|3,3,96,0</MyComputer>
      <Network>0,0,180,0|1,1,96,0|2,2,120,0|3,3,120,0</Network>
      <ControlPanel>0,0,180,0|1,1,300,0</ControlPanel>
    </Columns>
    <GroupBy>
      <ControlPanel Index="0" Enabled="False"/>
      <Default Index="0" Enabled="False"/>
      <MyComputer Index="0" Enabled="False"/>
      <Network Index="0" Enabled="False"/>
    </GroupBy>
    <ViewStyle>0</ViewStyle>
    <SmoothScroll>False</SmoothScroll>
    <HiddenFiles>False</HiddenFiles>
    <ShowHeaderAlways>False</ShowHeaderAlways>
    <FullRowSelect>False</FullRowSelect>
    <ShowExtensions>True</ShowExtensions>
    <SelectPreviousFolder>True</SelectPreviousFolder>
    <AutoSelectFirstItem>False</AutoSelectFirstItem>
    <AutosizeListViewStyle>True</AutosizeListViewStyle>
    <SortFolderFirstAlways>True</SortFolderFirstAlways>
  </FileView>
  <TextEditor>
    <WordWrap>True</WordWrap>
  </TextEditor>
  <Tabs>
    <NewTabType>1</NewTabType>
    <NewTabPath>PIDL:FgAAABQAH1DgT9Ag6jppEKLYCAArMDCdAAA=</NewTabPath>
    <NewTabSelect>True</NewTabSelect>
    <OpenTabSelect>True</OpenTabSelect>
    <ReuseTabs>False</ReuseTabs>
  </Tabs>
  <AddressBar>
    <Breadcrumb>False</Breadcrumb>
  </AddressBar>
  <MainForm>
    <Left>38</Left>
    <Top>22</Top>
    <Width>640</Width>
    <Height>494</Height>
    <ShowCmd>1</ShowCmd>
    <AlphaBlend>255</AlphaBlend>
    <Skin>Office 2003</Skin>
    <Language/>
    <SingleInstance>True</SingleInstance>
    <ShowHints>True</ShowHints>
    <PathInTitle>False</PathInTitle>
    <AlwaysOnTop>False</AlwaysOnTop>
    <LastSession>Default</LastSession>
  </MainForm>
  <StackPanel>
    <ViewStyle>2</ViewStyle>
  </StackPanel>
  <FolderPanel>
    <AutoCollapse>True</AutoCollapse>
    <AutoExpand>True</AutoExpand>
    <OpenInNewTab>False</OpenInNewTab>
  </FolderPanel>
  <BookmarksPanel>
    <SingleClickMode>True</SingleClickMode>
    <AutoExpand>True</AutoExpand>
    <AutoCollapse>True</AutoCollapse>
    <OpenInNewTab>False</OpenInNewTab>
  </BookmarksPanel>
  <FilterPanel>
    <ShowBkgrd>True</ShowBkgrd>
    <AutoResetFilters>True</AutoResetFilters>
  </FilterPanel>
  <FileSearch>
    <Columns>0,0,180,0|1,1,96,0|2,2,120,0|3,3,120,0</Columns>
    <SubFolders>True</SubFolders>
    <ShowExtensions>True</ShowExtensions>
  </FileSearch>
</Root>
