<?xml version="1.0"?>
<Root>
  <FileView>
    <Filmstrip>
      <ThumbPos>1</ThumbPos>
      <ThumbStyle>6</ThumbStyle>
      <ThumbSize>120</ThumbSize>
    </Filmstrip>
    <CellSizes>
      <Icon>75,75</Icon>
      <SmallIcon>200,17</SmallIcon>
      <List>250,17</List>
      <Details>75,17</Details>
      <Tiles>218,58</Tiles>
      <Thumbnails>125,143</Thumbnails>
      <Filmstrip>125,143</Filmstrip>
    </CellSizes>
    <Columns>
      <Default>0,0,180,0|1,1,96,0|2,2,120,0|3,3,120,0</Default>
      <MyComputer>0,0,180,0|1,1,120,0|2,2,96,0|3,3,96,0</MyComputer>
      <Network/>
      <ControlPanel/>
    </Columns>
    <GroupBy>
      <ControlPanel Index="0" Enabled="False"/>
      <Default Index="0" Enabled="False"/>
      <MyComputer Index="0" Enabled="False"/>
      <Network Index="0" Enabled="False"/>
    </GroupBy>
    <ViewStyle>0</ViewStyle>
    <SmoothScroll>False</SmoothScroll>
    <HiddenFiles>False</HiddenFiles>
    <ShowHeaderAlways>False</ShowHeaderAlways>
    <FullRowSelect>True</FullRowSelect>
    <ShowExtensions>True</ShowExtensions>
  </FileView>
  <TextEditor>
    <WordWrap>True</WordWrap>
  </TextEditor>
  <Tabs>
    <NewTabType>1</NewTabType>
    <NewTabPath/>
    <NewTabSelect>True</NewTabSelect>
    <OpenTabSelect>False</OpenTabSelect>
  </Tabs>
  <MainForm>
    <Left>28</Left>
    <Top>13</Top>
    <Width>640</Width>
    <Height>480</Height>
    <ShowCmd>1</ShowCmd>
    <AlphaBlend>255</AlphaBlend>
    <Skin>Default</Skin>
    <Language/>
    <SingleInstance>True</SingleInstance>
    <ShowHints>True</ShowHints>
    <PathInTitle>False</PathInTitle>
    <LastSession>Default</LastSession>
  </MainForm>
  <StackPanel>
    <ViewStyle>2</ViewStyle>
  </StackPanel>
  <FolderPanel>
    <AutoCollapse>False</AutoCollapse>
    <AutoExpand>False</AutoExpand>
  </FolderPanel>
  <BookmarksPanel>
    <SingleClickMode>False</SingleClickMode>
    <AutoExpand>False</AutoExpand>
    <AutoCollapse>False</AutoCollapse>
  </BookmarksPanel>
  <QuickView>
    <Volume>200</Volume>
    <Muted>False</Muted>
  </QuickView>
  <FilterPanel>
    <ShowBkgrd>True</ShowBkgrd>
  </FilterPanel>
  <AddressBar>
    <Breadcrumb>False</Breadcrumb>
  </AddressBar>
</Root>
